<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/cliente.gif" class="img-responsive" alt="Logo" />
                <div class="card-body">
                    <p class="card-text"><a href="cliente.html">Cliente</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/lanHouse.gif" class="img-responsive" alt="Logo" />
                <div class="card-body">
                    <p class="card-text"><a href="lanHouse.html">Lan House</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/filme.gif" class="img-responsive" alt="Logo" />
                <div class="card-body">
                    <p class="card-text"><a href="filme.html">Filmes</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/games.gif" class="img-responsive" alt="Logo" />
                <div class="card-body">
                    <p class="card-text"><a href="games.html">Games</a></p>
                </div>
            </div>
        </div>
    </div>
</div>